*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: black;
   
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width:  100%;
    background-color: black;
    padding: 0 50px;

}
.header-logo{
    height: 100px;
    padding: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 35px;
}
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    font-size: 16px;
}
.navbar-link{
    position: relative;
    padding: 5px;
}
.navbar-link::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #FF00E6;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
    border-radius: 100px;
}
.navbar-link:hover::after{
    width: 100%;
    right: 0;
}
.btn-nav{
    background-color: #FF00E6;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #FF00E6;
    color: black;
    font-size: 20px;
}
.nav-cart{
    height: 40px;
}
ul a{
    text-decoration: none;
    color: #ffffff;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}
.title h1{
    font-size: 80px;
    color: #FF00E6;
    font-family: 'Kalam', cursive;
}
.title p{
    color: white;
    font-size: 15px;
    
}
.img-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.img-title img{
    height: 200px;
}
.sobre-nosotros{
    color: white;
    font-size: 20px;
    margin-top: 80px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.sobre-nosotros img{
    height: 250px;
}
.info-1{
    display: flex;
    align-items: center;
}
.info-2{
    margin: 30px;
}
.productos{
    color:#FF00E6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 150px;
}
.productos h1{
    font-size: 80px;
}
.categoria{
background-color: #ffffff;
color: #FF00E6;
border-radius: 15px;
padding: 10px 15px;

}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
}
.btn-neon:hover{
    background: #FF00E6;
    box-shadow: 0 0 1px #FF00E6, 0 0 5px #FF00E6, 0 0 10px #FF00E6;
    transition-delay: 0s;
 }
.card-productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
    gap: 30px;

}
.card{
    margin: 10px;
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.card:hover{
    background: #FF00E6;
    box-shadow: 0 0 1px #FF00E6, 0 0 5px #FF00E6, 0 0 10px #FF00E6;
    transition-delay: 0s;
 }
.producto-img{
    height: 100px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10px;
}
.cart-card{
    height: 20px;
    background-color: black;
    border-radius: 5px;
}
.info-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-card button{
    padding: 8px;
    border-radius: 10px;
    background-color: black;
    color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-card p{
    font-size: 20px;
    color: black;
}
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 200px;
    color: #ffffff;
}
.info-contacto{
    display: flex;
    flex-direction: column;
}
.info-contacto h2{
    margin: 0;
    font-size: 50px;
}
.info-contacto p{
    font-size: 18px;
    margin-bottom: 20px;
}
.ul-info{
    list-style-type: none;
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-size: 18px;
}
.ul-info li{
    display: flex;
    align-items: center;
}
.ul-info img{
   margin-right: 10px;
   height: 25px;
   width:  25px;
}
.redes-sociales{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 20px;
}
.redes-sociales img{
    height: 45px;
    width:  45px;
}
.mapa{
    width: 450px;
    height: 300px;
    border-style: solid;
    border-color: #FF00E6;
    border-radius: 20px;
}
.contenedor{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    padding: 30px;
    gap: 5px; 
    font-size: 12px;
}
.contenedor a{
    text-decoration: none;
    color: #FF00E6;
}


